@import 'node_modules/nord/src/sass/nord.scss';

.NavBarButton {
  text-align: center;
  background-color: $nord10;
  color: $nord4;
  outline: none;
  border: none;
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  padding: 4px;
  margin: 6px;
  border-radius: 4px;
}

.NavBarButton:hover {
  background: $nord14;
  color: $nord2;
}
