
.login-page {
  height: 700px;
  width: 600px;
  padding: 0 0 0 0;
  margin: auto;
}

.p {
  font-size: 18px;
}

.welcomeMessage {
  font-size: 50px;
  font-weight: bold;
}

.form {
  position: relative;
  z-index: 1;
  background: #4c566a;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: 'lorenza', sans-serif;
  outline: 0;
  background:#d8dee9;
  width: 97.5%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
}

.form input:hover {
  background: #a3be8c;
}

