@import 'node_modules/nord/src/sass/nord.scss';

.DefaultButton {
  text-align: center;
  background-color: $nord10;
  color: $nord4;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-size: 16px;
  padding: 6px;
  margin: 10px;
  border-radius: 6px;
}

