@import 'node_modules/nord/src/sass/nord.scss';

body {
  margin: 0;
  font-family: Arcon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arcon;
}
